body {
  text-align: center;
  background-color: #011F3F;
}

/* .big-container {
  display:flex; 
  justify-content:center; 
  height:100vh; 
  align-items:center; 
} */

button {
  border:none; 
  border-radius: 24px; 
  font-size: 25px; 
}

.overlay {
  z-index: 2; 
  background-color: aqua;
  height:justify; 
  width:justify;  
  position: absolute; 
  margin-left:25%;
  margin-right:25%;
  width: 50%;
  border: 3px solid green;
  border-radius:15px;
  padding: 20px;

}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.li {
  list-style: none;
}



.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
